
.main-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0px; left: 0px;
    background-color: var(--bg);
}

/* @media (prefers-reduced-motion: no-preference) {

} 
::-webkit-scrollbar {
  width: 0.6vw;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: 6px;
}
  */