.body-con {
    width: 100vw;
    margin-top: 1px;
    padding: 20px;
}
.body-c {
    width: 100%;
    margin: 0; padding: 0;
    height: 88vh;
    border: 1px solid red;
    color: var(--color);
    scroll-margin-top: 11vh;
}
.head-design {
    text-align: center;
}
.head-design h1 {
    margin: 0px;
}
.head-design p {
    margin: 0px;
}